thead {

    .p-column-title {
        width: 100%;
        font-family: Helvetica;
        color: var(--contrast-color-primary);
        font-weight: bold;
        text-align: left;
        margin: 10px 0px 10px 10px;
    }

    th {
        background: var(--item-special-color);
        border: 1px solid var(--contrast-color-primary);
        border-top: none;
    }
}

tbody {

    td {
        text-align: left;
        color: var(--contrast-color-primary);
        font-family: Helvetica;
        border: 1px solid var(--contrast-color-primary) !important;
        padding: 5px 10px 5px 10px;
        border-top: none !important;
        border-bottom: none !important;
    }

    tr {
        background: var(--background-color-primary);
    }

    tr:nth-child(2n) {
        background: var(--background-color-secondary);
    }
}

.include-border {
    border-bottom: 1px solid var(--contrast-color-primary);
    border-top: 1px solid var(--contrast-color-primary);
}

.no-head {
    border-top: 1px solid var(--contrast-color-primary);

    thead {
        display: none;
    }
}

.p-datatable-row-expansion {
    border-top: 1px solid var(--contrast-color-primary);
    border-bottom: 1px solid var(--contrast-color-primary);
}

.clickable-rows tbody tr:hover{
    cursor: pointer;
    background: var(--background-color-tertiary);
}

.p-sortable-column-icon {
    color: var(--contrast-color-primary);
    margin-right: 5px;
}

@media screen and (max-width: 900px) {
    .p-datatable {
        .p-datatable-tbody > tr > td {
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: right;

            .p-column-title {
                display: block !important;
            }
        }

        .p-datatable-tbody .p-datatable-row-expansion .expanded {
            text-align: left;
        }

        .p-datatable-thead > tr > th {
            display: none !important;
        }

        .p-datatable-tfoot > tr > td {
            display: none !important;
        }
    }
}

.p-row-toggler {
    background: none;
    border: none;

    &:hover {
        cursor: pointer;
    }
}